<form action="/bookmarks" method="post">
  <label for="url">Enter url</label>
  <input type="text" name="url" />
  <label for="title">Enter title</label>
  <input type="text" name="title" />
  <input type="submit" value="Submit" />
</form>
